<!--<link rel="stylesheet" href="referentiel.component.css">-->
<div>
  <ngx-spinner
    [name]="LOADERID"
    [fullScreen]="false"
    type="square-jelly-box"
    size="medium"
  ></ngx-spinner>

  <div class="row">
    <button matTooltip="Ajouter" *ngIf="!onAdd" mat-fab (click)="onAddReferentiel()" type="button" color="primary">
      <em class="fa fa-plus fa-lg"></em>
    </button>
    <button matTooltip="Liste" *ngIf="onAdd" (click)="onAdd = false; loadListReferentiel()" mat-fab type="button" color="primary">
      <em class="fa fa-list fa-lg"></em>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button  (click)="downloadFile()" matTooltip="Télécharger le model d'upload" mat-fab type="button" color="primary">
      <em class="fa fa-download fa-lg"></em>
    </button>
  </div>

  <app-referentiel-add [niveauModel]="niveauModel" [specialiteModel]="specialiteModel" [referentielModel]="referentielModel" [status]="etat" *ngIf="onAdd"></app-referentiel-add>

  <div *ngIf="!onAdd" class="row" style="margin-bottom: 2%;">
    <form #searchForm="ngForm">
    <div class="text-center" style="margin-bottom: 2%">
      <h3>Liste référentiels</h3>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="col-md-10 col-lg-2 col-sm-12 col-xs-12">
        <div class="form-group row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-label>Niveau :</mat-label>
              <mat-select name="niveau" [(ngModel)]="niveauModel" (selectionChange)="loadListSpecialite(niveauModel.id)">
                    <mat-option *ngFor="let niveau of listNiveau" [value]="niveau" >{{ niveau?.libelle }}</mat-option >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-lg-2 col-sm-12 col-xs-12">
        <div class="form-group row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-label>Spécialité :</mat-label>
              <mat-select name="specialite" [(ngModel)]="specialiteModel">
                    <mat-option *ngFor="let nivSpecialite of listSpecialite" [value]="nivSpecialite.specialite" >{{ nivSpecialite.specialite?.libelle }}</mat-option >
                  </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-lg-2 col-sm-12 col-xs-12">
        <div class="form-group row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
              <mat-label>Annee : </mat-label>
              <input [(ngModel)]="annee" name="annee" matInput />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-lg-2 col-sm-12 col-xs-12">
        <div class="form-group row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-label>Type :</mat-label>
              <mat-select name="type" [(ngModel)]="typeReferentiel" >
                <mat-option *ngFor="let type of listTypeReferentiel" [value]="type.id" >{{ type.name }}</mat-option >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-lg-3 col-sm-12 col-xs-12">
        <button mat-mini-fab style="background-color: whitesmoke; color: black;" (click)="searchByNiveauAndSpecialite()" >
          <em class="fa fa-search fa-lg"></em>
        </button>
        &nbsp;&nbsp;
        <button mat-mini-fab style="background-color: whitesmoke; color: black;" (click)="cancelSearchReferentielByNiveauAndSpecialite(searchForm)" >
          <em class="fa fa-remove fa-lg"></em>
        </button>
      </div>
    </div>
  </form>
  </div>

 <div class="mat-elevation-z8" *ngIf="!onAdd">
  <table mat-table
  [dataSource]="dataSource" multiTemplateDataRows
  >
<ng-container matColumnDef="annee">
<th mat-header-cell *matHeaderCellDef> Année </th>
<td mat-cell *matCellDef="let row"> {{row.annee}} </td>
</ng-container>

<ng-container matColumnDef="credit">
<th mat-header-cell *matHeaderCellDef> Crédit </th>
<td mat-cell *matCellDef="let row"> {{row.credit}} </td>
</ng-container>

<ng-container matColumnDef="vht">
<th mat-header-cell *matHeaderCellDef> VHT </th>
<td mat-cell *matCellDef="let row"> {{row.volumeHeureTotal}} </td>
</ng-container>

<ng-container matColumnDef="type">
  <th mat-header-cell *matHeaderCellDef> Type </th>
  <td mat-cell *matCellDef="let row">
    {{row.affected ? row.affected === 1 ? 'Affecté' : row.affected === 2 ? 'Non affecté' : row.affected === 3 ? 'Cloturé' : row.affected === 4 ? 'En cours' : '' : ''}}
  </td>
  </ng-container>

<ng-container matColumnDef="actions">
<th mat-header-cell *matHeaderCellDef> Actions </th>
<td mat-cell *matCellDef="let row">
 <button matTooltip="Dupliquer" (click)="onDuplicateReferentiel(row)" type="button" mat-flat-button class="action-button"><em class="fa fa-clone fa-lg"></em></button>
 &nbsp;&nbsp;
 <button matTooltip="Modifier" (click)="onEditReferentiel(row)" type="button" mat-flat-button class="action-button"><em class="fa fa-edit fa-lg"></em></button>
 &nbsp;&nbsp;
 <button matTooltip="Cloturer" (click)="openDialog(row)" type="button" mat-flat-button class="action-button"><em class="fa fa-close fa-lg"></em></button>
 &nbsp;&nbsp;
 <button matTooltip="Supprimer" (click)="openDialog(row)" type="button" mat-flat-button class="action-button"><em class="fa fa-trash fa-lg"></em></button>
 &nbsp;&nbsp;
 <button type="button" mat-flat-button class="action-button"
   (click)="expandedReferentiel = expandedReferentiel === row ? null : row; loadSemestreNiveauList(row.niveau)"
   [class.example-expanded-row]="expandedReferentiel === row">
   <em class="fa fa-list fa-lg"></em>
 </button>
&nbsp;&nbsp;
 <button type="button" (click)="loadRecapProgrammeModule(row)"
         [routerLink]="'/gestion-school/recap-referentiel/' + row.id"
         mat-flat-button class="action-button" ><em class="fa fa-eye"></em></button>
</td>
</ng-container>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<!--Programme UE -->
<ng-container matColumnDef="expandedDetail">
<td mat-cell *matCellDef="let element" [attr.colspan]="referentielColumnsToDisplay.length">
 <div class="example-element-detail"
      [@flyInOut]="element == expandedReferentiel ? 'expanded' : 'collapsed'">
       <mat-accordion>
         <!-- liste des semestres par niveau du referentiel -->
         <mat-expansion-panel *ngFor="let s of listSemestreNiveau" (opened)="loadListProgrammeUE(element, s.semestre)">
           <mat-expansion-panel-header>
             {{s.semestre.libelle}}
           </mat-expansion-panel-header>
           <ng-template matExpansionPanelContent>
             <!-- formulaire ajout programme UE -->
             <ng-container *ngIf="expandedNewProgrammeUE" [@flyInOut]>
               <div class="row">
                 <div class=" col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                   <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <mat-select required name="ue" [(ngModel)]="ueModel"
                       [placeholder]="ueModel ? ueModel.libelle ? ueModel.libelle : 'Selectionnez l\'ue' : 'Selectionnez l\'ue'">
                       <mat-option *ngFor="let ue of listUe" [value]="ue.ue">{{ ue?.ue.libelle }}</mat-option>
                     </mat-select>
                   </mat-form-field>
                 </div>

                 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                   <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                     <mat-label>Crédit : </mat-label>
                     <input [(ngModel)]="programmeUEModel.credit"  required name="credit" matInput />
                   </mat-form-field>
                 </div>

                 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                   <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                     <mat-label>Fondamental : </mat-label>
                     <input [(ngModel)]="programmeUEModel.fondamental" required  name="fondamental" matInput />
                   </mat-form-field>
                 </div>

                 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                   <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                     <mat-label>Nombre heure UE : </mat-label>
                     <input [(ngModel)]="programmeUEModel.nbreHeureUE" required name="nbreHeureUE" matInput />
                   </mat-form-field>
                 </div>

                 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                   <button (click)="saveProgrammeUE(element, s.semestre)"  mat-raised-button class="action-button" type="button" >
                     Enregistrer
                     <em class="fa fa-save fa-lg"></em>
                   </button>
                 </div>
               </div>
             </ng-container>
             <!-- END formulaire ajout programme UE -->

             <!-- tableau pour afficher la liste de programme UE -->
             <table mat-table [dataSource]="listProgrammeUE" multiTemplateDataRows>

               <ng-container matColumnDef="codeUE">
                 <th mat-header-cell *matHeaderCellDef> Code </th>
                 <td mat-cell *matCellDef="let programmeUe"> {{programmeUe.ue.code}} </td>
               </ng-container>

               <ng-container matColumnDef="designation">
                 <th mat-header-cell *matHeaderCellDef> Designation </th>
                 <td mat-cell *matCellDef="let programmeUe"> {{programmeUe.ue.libelle}} </td>
               </ng-container>

               <ng-container matColumnDef="creditProgrammeUe">
                 <th mat-header-cell *matHeaderCellDef> Crédit </th>
                 <td mat-cell *matCellDef="let programmeUe"> {{programmeUe.credit}} </td>
               </ng-container>

               <!--<ng-container matColumnDef="fondamental">
                 <th mat-header-cell *matHeaderCellDef> Fondamental </th>
                 <td mat-cell *matCellDef="let programmeUe"> {{programmeUe.fondamental}} </td>
               </ng-container>-->

               <ng-container matColumnDef="nbrHeureUE">
                 <th mat-header-cell *matHeaderCellDef> Nombre Heure UE </th>
                 <td mat-cell *matCellDef="let programmeUe"> {{programmeUe.nbreHeureUE}} </td>
               </ng-container>

               <ng-container matColumnDef="actionsProgrammeUE">
                 <th mat-header-cell *matHeaderCellDef>
                   Actions &nbsp;&nbsp;
                   <button class="action-button" type="button" (click)="expandedNewProgrammeUE = !expandedNewProgrammeUE; onAddNewProgrammeUE(element)" mat-flat-button matTooltip="Ajouter">
                     <em class="fa fa-plus fa-lg"></em>
                   </button>
                 </th>
                 <td mat-cell *matCellDef="let programmeUe">
                   <button type="button" mat-flat-button class="action-button"><em class="fa fa-edit fa-lg"></em></button>
                   &nbsp;&nbsp;
                   <button type="button" mat-flat-button class="action-button"><em class="fa fa-trash fa-lg"></em></button>
                   &nbsp;&nbsp;
                   <button type="button" mat-flat-button class="action-button"
                     (click)="expandedProgrammeUE = expandedProgrammeUE === programmeUe ? null : programmeUe; loadListProgrammeModule(programmeUe)"
                     [class.example-expanded-row]="expandedProgrammeUE === programmeUe">
                     <em class="fa fa-list fa-lg"></em>
                   </button>
                 </td>
               </ng-container>

               <!-- programme module -->
               <ng-container matColumnDef="expandedDetailsProgrammeUE">
                 <td mat-cell *matCellDef="let programmeUe" [attr.colspan]="programmeUEColumnsToDisplay.length">
                   <div class="example-element-detail" [@flyInOut]="programmeUe == expandedProgrammeUE ? 'expanded' : 'collapsed'">

                     <!-- formulaire add programme module -->
                     <ng-container *ngIf="expandedNewProgrammeModule" [@flyInOut]>
                       <div class="row text-center">
                         <h3>Nouveau programme module</h3>
                       </div>
                       <div class="row">
                         <div class=" col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                           <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                             <mat-select required name="module" [(ngModel)]="moduleModel" [placeholder]="  moduleModel ? moduleModel.libelle ? moduleModel.libelle : 'Selectionnez le module' : 'Selectionnez le module' " >
                               <mat-option *ngFor="let module of listModule" [value]="module.module" >{{ module?.module.libelle }}</mat-option >
                             </mat-select>
                           </mat-form-field>
                         </div>
                         <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <mat-label>VHT : </mat-label>
                            <input [(ngModel)]="programmeModuleModel.vht" (blur)="onSetVhtProgrammeModule($event, s)" required name="vht" matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <mat-form-field
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <mat-label>VHP : </mat-label>
                            <input [(ngModel)]="programmeModuleModel.vhp" disabled name="vh" matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <mat-form-field
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <mat-label>TPE : </mat-label>
                            <input [(ngModel)]="programmeModuleModel.tpe" disabled name="tpe" matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
                            <mat-label>Nbre credit module : </mat-label>
                            <input [(ngModel)]="programmeModuleModel.nbreCreditModule" disabled name="nbreCreditModule" matInput />
                          </mat-form-field>
                        </div>
                       </div>

                       <div class="row">
                        <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <mat-form-field
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <mat-label>TP : </mat-label>
                            <input [(ngModel)]="programmeModuleModel.tp" (blur)="onCheckTDAndTPAndCM()" required name="tp" matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <mat-form-field
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <mat-label>TD : </mat-label>
                            <input [(ngModel)]="programmeModuleModel.td" (blur)="onCheckTDAndTPAndCM()" required name="td" matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
                            <mat-label>CM : </mat-label>
                            <input [(ngModel)]="programmeModuleModel.cm" (blur)="onCheckTDAndTPAndCM()" required name="cm" matInput />
                          </mat-form-field>
                        </div>
                         <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                           <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                             <mat-label>Coef : </mat-label>
                             <input [(ngModel)]="programmeModuleModel.coef" required name="coef"  matInput />
                           </mat-form-field>
                         </div>
                         <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <mat-label>Budget : </mat-label>
                            <input [(ngModel)]="programmeModuleModel.budget" required name="budget"  matInput />
                          </mat-form-field>
                        </div>
                       </div>
                       <div class="row">
                         <div class="col-lg-offset-1 col-md-offset-1 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                             <mat-label>Nom du fichier : </mat-label>
                             <input [value]="filename" disabled matInput />
                           </mat-form-field>
                         </div>
                         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           <button onclick="document.getElementById('singleFile').click()" mat-raised-button color="primary" type="button">
                             Ajouter syllabus
                             <em class="fa fa-upload fa-lg"></em>
                           </button>
                           <input accept="application/pdf" name="photoprofil" style="display:none;" id="singleFile" type="file" (change)="onSelectFile($event)"/>
                         </div>
                       </div>
                       <div class="row">
                         <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                           <button mat-raised-button class="action-button" type="button" (click)="saveProgrammeModule(programmeUe)" >
                             Enregistrer
                             <em class="fa fa-save fa-lg"></em>
                           </button>
                         </div>
                       </div>
                     </ng-container>
                     <!-- End formulaire add programme module -->

                     <!-- tableau pour afficher la liste de programme module -->
                     <table mat-table [dataSource]="listProgrammeModule" multiTemplateDataRows>

                       <ng-container matColumnDef="codeModule">
                         <th mat-header-cell *matHeaderCellDef> Code </th>
                         <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.module.code}} </td>
                       </ng-container>

                       <ng-container matColumnDef="nomModule">
                         <th mat-header-cell *matHeaderCellDef> Nom </th>
                         <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.module.libelle}} </td>
                       </ng-container>

                       <ng-container matColumnDef="coef">
                         <th mat-header-cell *matHeaderCellDef> Coef </th>
                         <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.coef}} </td>
                       </ng-container>

                       <ng-container matColumnDef="nbrCreditModule">
                         <th mat-header-cell *matHeaderCellDef> Nombre crédit module </th>
                         <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.nbreCreditModule}} </td>
                       </ng-container>

                       <ng-container matColumnDef="td">
                         <th mat-header-cell *matHeaderCellDef> TD </th>
                         <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.td}} </td>
                       </ng-container>

                       <ng-container matColumnDef="tp">
                         <th mat-header-cell *matHeaderCellDef> TP </th>
                         <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.tp}} </td>
                       </ng-container>

                       <ng-container matColumnDef="cm">
                        <th mat-header-cell *matHeaderCellDef> CM </th>
                        <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.cm}} </td>
                      </ng-container>

                       <ng-container matColumnDef="tpe">
                         <th mat-header-cell *matHeaderCellDef> TPE </th>
                         <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.tpe}} </td>
                       </ng-container>

                       <ng-container matColumnDef="vhpModule">
                         <th mat-header-cell *matHeaderCellDef> VHP </th>
                         <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.vhp}} </td>
                       </ng-container>

                       <ng-container matColumnDef="vhtModule">
                         <th mat-header-cell *matHeaderCellDef> VHT </th>
                         <td mat-cell *matCellDef="let programmeModule"> {{programmeModule.vht}} </td>
                       </ng-container>

                       <ng-container matColumnDef="syllabus">
                        <th mat-header-cell *matHeaderCellDef> Syllabus </th>
                        <td mat-cell *matCellDef="let programmeModule">
                          <button type="button" class="action-button" (click)="loadSyllabus(programmeModule)" mat-flat-button>
                            <em class="fa fa-file-pdf-o fa-lg"></em>
                          </button>
                        </td>
                      </ng-container>

                       <ng-container matColumnDef="actionsProgrammeModule">
                         <th mat-header-cell *matHeaderCellDef>
                           Actions &nbsp;&nbsp;
                           <button class="action-button" type="button" (click)="expandedNewProgrammeModule = !expandedNewProgrammeModule; onAddNewProgrammeModule(element)" mat-flat-button matTooltip="Ajouter">
                             <em class="fa fa-plus fa-lg"></em>
                           </button>
                         </th>
                         <td mat-cell *matCellDef="let programmeModule">
                           <button type="button" mat-flat-button class="action-button"><em class="fa fa-edit fa-lg"></em></button>
                           &nbsp;&nbsp;
                           <button type="button" mat-flat-button class="action-button"><em class="fa fa-trash fa-lg"></em></button>
                         </td>
                       </ng-container>

                       <tr mat-header-row *matHeaderRowDef="programmeModuleColumnsToDisplay"></tr>
                       <tr mat-row *matRowDef="let element; columns: programmeModuleColumnsToDisplay;"
                         class="example-element-row"></tr>
                     </table>

                   </div>
                 </td>
               </ng-container>
               <!-- END programme module -->

               <tr mat-header-row *matHeaderRowDef="programmeUEColumnsToDisplay"></tr>
               <tr mat-row *matRowDef="let element; columns: programmeUEColumnsToDisplay;"
                 class="example-element-row"></tr>
                 <tr mat-row *matRowDef="let row; columns: ['expandedDetailsProgrammeUE']" class="example-detail-row"></tr>
             </table>
             <!-- END tableau pour afficher la liste de programme UE -->
           </ng-template>
           </mat-expansion-panel>
        </mat-accordion>
 </div>
</td>
</ng-container>
<!-- END Programme UE -->

<tr mat-header-row *matHeaderRowDef="referentielColumnsToDisplay"></tr>
<tr mat-row *matRowDef="let element; columns: referentielColumnsToDisplay;"
 class="example-element-row">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
 </div>


</div>


<div style="z-index: 3" #showSyllabusModal class="modal fade" id="showSyllabusModal" tabindex="3" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Syllabus</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <embed [src]="secureUlr(urlSyllabus)"
                 frameborder="0" width="100%" height="700px">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
