<div>
  <ngx-spinner
    [name]="LOADERID"
    [fullScreen]="false"
    type="square-jelly-box"
    size="medium"
  ></ngx-spinner>
  <form #addForm="ngForm" (submit)="save()">
    <div class="row" style="margin-bottom: 2%">
      <div class="col-md-12 col-lg-8 col-sm-12 col-xs-12">
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-select
                name="domaine"
                [(ngModel)]="domaineModel"
                [placeholder]="
                  domaineModel.libelle
                    ? domaineModel.libelle
                    : 'Selectionnez le domaine'
                "
              >
                <mat-option
                  *ngFor="let domaine of listDomaine"
                  [value]="domaine"
                  >{{ domaine?.libelle }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-label>Libellé : </mat-label>
              <input
                [(ngModel)]="mentionModel.libelle"
                required
                name="libelle"
                matInput
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-3 col-sm-12 col-xs-12">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!addForm.valid"
          type="submit"
        >
          Enregistrer
          <em class="fa fa-save fa-lg"></em>
        </button>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
      <!-- Mention column -->
      <ng-container matColumnDef="mention">
        <th mat-header-cell *matHeaderCellDef> Mention</th>
        <td mat-cell *matCellDef="let mention">
          {{mention ? mention.libelle ? mention.libelle : '' : ''}}
        </td>
      </ng-container>

      <!-- Domaine column -->
      <ng-container matColumnDef="domaine">
        <th mat-header-cell *matHeaderCellDef> Domaine</th>
        <td mat-cell *matCellDef="let mention">
          {{ mention ? (mention.domaine ? mention.domaine.libelle : "") : "" }}
        </td>
      </ng-container>

      <!-- Status column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Statut</th>
        <td mat-cell *matCellDef="let mention">
          <mat-slide-toggle
          (change)="onChangeStatus($event, mention)"
          [ngModel]="mention.etat"
           color="primary">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <!-- Actions column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let mention">
          <div class="row">
            <div
              class="col-md-3 col-lg-3 col-sm-4 col-xs-4 col-md-offset-3 col-lg-offset-3 col-sm-offset-4 col-xs-offset-4"
            >
              <button type="button" (click)="onEdit(mention)" matTooltip="Modifier" mat-flat-button class="action-button"><em class="fa fa-edit fa-lg">
              </em></button>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <button type="button" (click)="openDialog(mention)" matTooltip="Supprimer" mat-flat-button class="action-button"><em class="fa fa-trash fa-lg">
              </em></button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="mentionColumnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: mentionColumnsToDisplay;"
        class="example-element-row">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
