<div>
  <ngx-spinner
  [name]="LOADERID"
  [fullScreen]="false"
  type="square-jelly-box"
  size="medium"
></ngx-spinner>
<form #addForm="ngForm" (submit)="save(addForm)">
  <div class="row" style="margin-bottom: 2%">
    <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <div class="form-group row">
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-select required
                  name="niveau"
                  [(ngModel)]="niveauModel"
                  [placeholder]=" niveauModel ?
                    niveauModel.libelle ? niveauModel.libelle : 'Selectionnez le niveau' : 'Selectionnez le niveau'
                  " (selectionChange)="loadListSpecialite(niveauModel.id)"
                >
                  <mat-option *ngFor="let niveau of listNiveau" [value]="niveau">{{
                    niveau?.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-select required
                  name="specialite"
                  [(ngModel)]="specialiteModel"
                  [placeholder]=" specialiteModel ?
                    specialiteModel.specialite ? specialiteModel.specialite.libelle ? specialiteModel.specialite.libelle : 'Selectionnez la specialite' : 'Selectionnez la specialite' : 'Selectionnez la specialite'
                  "
                >
                  <mat-option *ngFor="let specialite of listSpecialite" [value]="specialite">{{
                    specialite?.specialite.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-select required
                  name="horaire"
                  [(ngModel)]="horaireModel"
                  [placeholder]=" horaireModel ?
                  horaireModel.libelle ? horaireModel.libelle : 'Selectionnez l\'horaire' : 'Selectionnez l\'horaire'
                  "
                >
                  <mat-option *ngFor="let horaire of listHoraire" [value]="horaire">{{
                    horaire?.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Libellé : </mat-label>
            <input [(ngModel)]="sousClasseModel.libelle"
            required name="libelle" matInput />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 4%" class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addForm.valid"
            type="submit"
      >
        Enregistrer
        <em class="fa fa-save fa-lg"></em>
      </button>
    </div>
  </div>
</form>

<form #searchForm="ngForm">
  <div class="row">
    <div class="col-md-3 col-lg-2 col-sm-12 col-xs-12">
      <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Horaire :</mat-label>
            <mat-select required
                  name="horaire"
                  [(ngModel)]="horaireSearch"
                >
                  <mat-option *ngFor="let horaire of listHoraire" [value]="horaire">{{
                    horaire?.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
      <button mat-mini-fab style="background-color: whitesmoke; color: black;" (click)="search()" >
        <em class="fa fa-search fa-lg"></em>
      </button>
      &nbsp;&nbsp;
      <button mat-mini-fab style="background-color: whitesmoke; color: black;" (click)="cancelSearch(searchForm)" >
        <em class="fa fa-remove fa-lg"></em>
      </button>
    </div>
  </div>
  </form>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
      <!-- Sous Classe column -->
      <ng-container matColumnDef="sousclasse">
        <th mat-header-cell *matHeaderCellDef> Sous Classe</th>
        <td mat-cell *matCellDef="let sousClasse">
          {{sousClasse ? sousClasse.libelle ? sousClasse.libelle : '' : ''}}
        </td>
      </ng-container>

      <!-- Niveau column -->
      <ng-container matColumnDef="niveau">
        <th mat-header-cell *matHeaderCellDef> Niveau</th>
        <td mat-cell *matCellDef="let sousClasse">
          {{ sousClasse ? (sousClasse.niveau ? sousClasse.niveau.libelle : "") : "" }}
        </td>
      </ng-container>

      <!-- Specialite column -->
      <ng-container matColumnDef="specialite">
        <th mat-header-cell *matHeaderCellDef> Specialite</th>
        <td mat-cell *matCellDef="let sousClasse">
          {{ sousClasse ? (sousClasse.specialite ? sousClasse.specialite.libelle : "") : "" }}
        </td>
      </ng-container>

      <!-- Horaire column -->
      <ng-container matColumnDef="horaire">
        <th mat-header-cell *matHeaderCellDef> Horaire</th>
        <td mat-cell *matCellDef="let sousClasse">
          {{ sousClasse ? (sousClasse.horaire ? sousClasse.horaire.libelle : "") : "" }}
        </td>
      </ng-container>

      <!-- Status column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Statut</th>
        <td mat-cell *matCellDef="let sousClasse">
          <mat-slide-toggle
          (change)="onChangeStatus($event, sousClasse)"
          [ngModel]="sousClasse.etat"
           color="primary">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <!-- Actions column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let sousClasse">
          <div class="row">
            <div
              class="col-md-3 col-lg-3 col-sm-4 col-xs-4 col-md-offset-3 col-lg-offset-3 col-sm-offset-4 col-xs-offset-4"
            >
              <button type="button" (click)="onEdit(sousClasse)" matTooltip="Modifier" mat-flat-button class="action-button"><em class="fa fa-edit fa-lg">
              </em></button>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <button type="button" (click)="openDialog(sousClasse)" matTooltip="Supprimer" mat-flat-button class="action-button"><em class="fa fa-trash fa-lg">
              </em></button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="sousclasseColumnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: sousclasseColumnsToDisplay;"
        class="example-element-row">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
