<div>
  <ngx-spinner
    [name]="LOADERID"
    [fullScreen]="false"
    type="square-jelly-box"
    size="medium"
  ></ngx-spinner>
  <div class="row">
    <button matTooltip="Ajouter niveau" *ngIf="!onAdd" mat-fab (click)="onAdd = true" type="button" color="primary">
      <em class="fa fa-plus fa-lg"></em>
    </button>
    <button matTooltip="Liste des niveaux" *ngIf="onAdd" (click)="onAdd = false; loadListNiveau()" mat-fab type="button" color="primary">
      <em class="fa fa-list fa-lg"></em>
    </button>
  </div>

  <app-niveau-add [cycleModel]="cycleModel" [parcoursModel]="parcoursModel"
  [niveauModel]="niveauModel" *ngIf="onAdd"></app-niveau-add>

  <table class="table table-striped table-responsive" *ngIf="!onAdd" style="margin-top: 3%;">
    <thead>
      <tr>
        <th>N°</th>
        <th>Niveau</th>
        <th>Cycle</th>
        <th>Parcours</th>
        <th>Semestres du niveau</th>
        <th>Documents à fournir</th>
        <th>Documents à donner</th>
        <th>Statut</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let niveau of listNiveau; let i = index">
        <td>{{i + 1}}</td>
        <td>{{niveau ? niveau.libelle ? niveau.libelle : '' : ''}}</td>
        <td>{{niveau ? niveau.cycle ? niveau.cycle.cycle ? niveau.cycle.cycle : '' : '' : ''}}</td>
        <td>{{niveau ? niveau.parcours ? niveau.parcours.libelle ? niveau.parcours.libelle : '' : '' : ''}}</td>
        <td>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <em class="fa fa-list fa-lg"></em>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <button type="button" (click)="onAddSemestreNiveau()" matTooltip="Ajouter semestre"
                    mat-flat-button color="primary" style="background-color: white; color: grey">
                      <em class="fa fa-plus fa-lg"> </em>
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="onNewSemestreNiveau === true">
                  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-label>Semestres</mat-label>
                      <mat-select multiple required name="semestre" [(ngModel)]="listSelectedSemestre">
                        <mat-option *ngFor="let semestre of listSemestre" [value]="semestre">
                          {{ semestre?.libelle }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <button (click)="saveSemestreNiveau(niveau)" type="button"
                    mat-flat-button color="primary">
                      <em class="fa fa-save fa-lg"></em>
                    </button>
                  </div>
                </div>
                <table class="table table-striped table-responsive" *ngIf="niveau.semestreNiveaus && niveau.semestreNiveaus.length > 0">
                  <thead>
                    <tr>
                      <th>Semestre</th>
                      <th>Encours</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let s of niveau.semestreNiveaus">
                      <td>{{s ? s.semestre ? s.semestre.libelle ? s.semestre.libelle : '' : '' : ''}}</td>
                      <td>{{s ? s.enCours ? 'Oui' : 'Non' : ''}}</td>
                      <td>
                        <mat-slide-toggle (change)="onChangeStatusSemestre($event, s)"
                          [ngModel]="s.enCours" checked color="primary">
                        </mat-slide-toggle>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" (click)="openDialog(s, 'semestre')" matTooltip="Supprimer" mat-mini-fab color="warn">
                          <em class="fa fa-trash fa-lg"> </em>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
        <td>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <em class="fa fa-list fa-lg"></em>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <button type="button" (click)="onAddDocumentAFournirNiveau()" matTooltip="Ajouter semestre"
                    mat-flat-button color="primary" style="background-color: white; color: grey">
                      <em class="fa fa-plus fa-lg"> </em>
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="onNewDocumentFournirNiveau === true">
                  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-label>Document à fournir</mat-label>
                      <mat-select multiple required name="doc" [(ngModel)]="listSelectedDocument">
                        <mat-option *ngFor="let doc of listDocument" [value]="doc">
                          {{ doc?.libelle }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <button (click)="saveDocumentNiveauAFournir(niveau)" type="button"
                    mat-flat-button color="primary">
                      <em class="fa fa-save fa-lg"></em>
                    </button>
                  </div>
                </div>
                <table class="table table-striped table-responsive" *ngIf="niveau.documentAFournir && niveau.documentAFournir.length > 0">
                  <thead>
                    <tr>
                      <th>Document</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of niveau.documentAFournir">
                      <td>{{d ? d.document ? d.document.libelle ? d.document.libelle : '' : '' : ''}}</td>
                      <td>
                        <button type="button" (click)="openDialog(d, 'document')" matTooltip="Supprimer" mat-mini-fab color="warn">
                          <em class="fa fa-trash fa-lg"> </em>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
        <td>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <em class="fa fa-list fa-lg"></em>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <button type="button" (click)="onAddDocumentDonnerNiveau()" matTooltip="Ajouter semestre"
                    mat-flat-button color="primary" style="background-color: white; color: grey">
                      <em class="fa fa-plus fa-lg"> </em>
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="onNewDocumentDonnerNiveau === true">
                  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-label>Document à donner</mat-label>
                      <mat-select multiple required name="document" [(ngModel)]="listSelectedDocument">
                        <mat-option *ngFor="let doc of listDocument" [value]="doc">
                          {{ doc?.libelle }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <button (click)="saveDocumentNiveauADonner(niveau)" type="button" mat-flat-button color="primary">
                      <em class="fa fa-save fa-lg"></em>
                    </button>
                  </div>
                </div>
                <table class="table table-striped table-responsive" *ngIf="niveau.documentADonner && niveau.documentADonner.length > 0">
                  <thead>
                    <tr>
                      <th>Document</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of niveau.documentADonner">
                      <td>{{d ? d.document ? d.document.libelle ? d.document.libelle : '' : '' : ''}}</td>
                      <td>
                        <button type="button" (click)="openDialog(d, 'document')" matTooltip="Supprimer" mat-mini-fab color="warn">
                          <em class="fa fa-trash fa-lg"> </em>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
        <td>
          <mat-slide-toggle
            (change)="onChangeStatus($event, niveau)"
            [ngModel]="niveau.etat"
            color="primary"
          >
          </mat-slide-toggle>
        </td>
        <td>
          <div class="row">
            <div
              class="col-md-3 col-lg-3 col-sm-4 col-xs-4 col-md-offset-3 col-lg-offset-3 col-sm-offset-4 col-xs-offset-4"
            >
              <button type="button"
              (click)="onEdit(niveau); onAdd=true" matTooltip="Modifier" mat-mini-fab color="primary">
                <em class="fa fa-edit fa-lg"> </em>
              </button>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <button type="button"
              (click)="openDialog(niveau, 'niveau')" matTooltip="Supprimer" mat-mini-fab color="warn">
                <em class="fa fa-trash fa-lg"> </em>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
