<div>
  <ngx-spinner
    [name]="LOADERID"
    [fullScreen]="false"
    type="square-jelly-box"
    size="medium"
  ></ngx-spinner>
  <form #addForm="ngForm" (submit)="save(addForm)">
    <div class="row" style="margin-bottom: 2%">
      <div
        class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12"
      >
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-select required
                name="cycle"
                [(ngModel)]="cycleModel"
                [placeholder]=" cycleModel ?
                  cycleModel.cycle ? cycleModel.cycle : 'Selectionnez le cycle' : 'Selectionnez le cycle'
                "
              >
                <mat-option *ngFor="let cycle of listCycle" [value]="cycle">{{
                  cycle?.cycle
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-select required
                name="parcours"
                [(ngModel)]="parcoursModel"
                [placeholder]=" parcoursModel ?
                  parcoursModel.libelle
                    ? parcoursModel.libelle
                    : 'Selectionnez le parcours' : 'Selectionnez le parcours'
                "
              >
                <mat-option
                  *ngFor="let parcours of listParcours"
                  [value]="parcours"
                  >{{ parcours?.libelle }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-label>Libellé : </mat-label>
              <input
                [(ngModel)]="niveauModel.libelle"
                required
                name="libelle"
                matInput
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-label>Niveau : </mat-label>
              <input
                [(ngModel)]="niveauModel.niveau"
                required
                name="niveau"
                matInput
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 4%">
      <div
        class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12"
      >
        <h3>Choisir les semestres :</h3>
        <div class="col-md-1" *ngFor="let semestre of listSemestre; let i = index">
          <mat-checkbox
            (change)="onCheckedSemestre($event, semestre)"
            color="primary"
            [name]="i"
            class="example-margin"
            >{{ semestre.libelle }}</mat-checkbox
          >
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 4%">
      <div
        class="col-md-offset-2 col-lg-offset-2 col-md-4 col-lg-4 col-sm-12 col-xs-12"
      >
        <h3>Choisir les documents à fournir :</h3>
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>Document</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of listDocument | paginate: { itemsPerPage: 5, currentPage: page }">
              <td>
                <mat-checkbox
                  (change)="onCheckedDocumentAFournir($event, doc)"
                  color="primary"
                  class="example-margin"
                  >{{ doc.libelle }}</mat-checkbox
                >
              </td>
            </tr>
          </tbody>
          <pagination-controls previousLabel="Précédent"
          nextLabel="Suivant" (pageChange)="page = $event"></pagination-controls>
        </table>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <h3>Choisir les documents à donner :</h3>
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>Document</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of listDocument | paginate: { itemsPerPage: 5, currentPage: page2 }">

              <td>
                <mat-checkbox
                  (change)="onCheckedDocumentADonner($event, doc)"
                  color="primary"
                  class="example-margin"
                  >{{ doc.libelle }}</mat-checkbox
                >
              </td>
            </tr>
          </tbody>
          <pagination-controls previousLabel="Précédent"
          nextLabel="Suivant" (pageChange)="page2 = $event"></pagination-controls>
        </table>
      </div>
    </div>
    <div class="row" style="margin-bottom: 7%">
      <div
        class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12"
      >
        <button
          mat-raised-button
          color="primary"
          [disabled]="!addForm.valid"
          type="submit"
        >
          Enregistrer
          <em class="fa fa-save fa-lg"></em>
        </button>
      </div>
    </div>
  </form>

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>N°</th>
        <th>Niveau</th>
        <th>Cycle</th>
        <th>Parcours</th>
        <th>Semestre</th>
        <th>Document</th>
        <th>Statut</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let niveau of listNiveau; let i = index">
        <td>{{i + 1}}</td>
        <td>{{niveau ? niveau.libelle ? niveau.libelle : '' : ''}}</td>
        <td>{{niveau ? niveau.cycle ? niveau.cycle.cycle ? niveau.cycle.cycle : '' : '' : ''}}</td>
        <td>{{niveau ? niveau.parcours ? niveau.parcours.libelle ? niveau.parcours.libelle : '' : '' : ''}}</td>
        <td>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Liste des semestres du niveau
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <ul>
                  <li *ngFor="let s of niveau.semestreNiveaus">
                    {{s.semestre.libelle}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-slide-toggle checked color="primary">
                      En cours
                    </mat-slide-toggle>
                  </li>
                </ul>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
        <td>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Liste documents du niveau
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <ul>
                  <li *ngFor="let d of niveau.documentParNiveaus">
                    {{d.document.libelle}}
                  </li>
                </ul>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
        <td>
          <mat-slide-toggle
            (change)="onChangeStatus($event, niveau)"
            [ngModel]="niveau.etat"
            color="primary"
          >
          </mat-slide-toggle>
        </td>
        <td>
          <div class="row">
            <div
              class="col-md-3 col-lg-3 col-sm-4 col-xs-4 col-md-offset-3 col-lg-offset-3 col-sm-offset-4 col-xs-offset-4"
            >
              <button type="button"
              (click)="onEdit(niveau)" matTooltip="Modifier" mat-mini-fab color="primary">
                <em class="fa fa-edit fa-lg"> </em>
              </button>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <button type="button"
              (click)="openDialog(niveau)" matTooltip="Supprimer" mat-mini-fab color="warn">
                <em class="fa fa-trash fa-lg"> </em>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
