<div style="margin-top: 2%;">
  <mat-tab-group>
    <mat-tab label="Marquer les absences">
      <div class="row" style="margin-top: 2%; margin-left: 1%;">
        <button class="action-button" mat-raised-button (click)="saveListPresence()">
          Enregistrer
        </button>
      </div>
      <div class="row" style="margin-top: 2%;">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <!-- Nom Prenom column -->
            <ng-container matColumnDef="nom_prenom">
              <th mat-header-cell *matHeaderCellDef> Nom & Prénom</th>
              <td mat-cell *matCellDef="let inscription">
                {{inscription ? inscription.etudiant ?
                  inscription.etudiant.nom ? inscription.etudiant.nom
                  : '' : '' : '' }}
                  {{inscription ? inscription.etudiant ?
                    inscription.etudiant.prenom ? inscription.etudiant.prenom
                    : '' : '' : '' }}
              </td>
            </ng-container>

            <!-- telephone column -->
            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef> Telephone</th>
              <td mat-cell *matCellDef="let inscription">
                {{inscription ? inscription.etudiant ?
                  inscription.etudiant.telephone ? inscription.etudiant.telephone
                  : '' : '' : ''}}
              </td>
            </ng-container>

            <!-- email column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let inscription">
                {{inscription ? inscription.etudiant ?
                  inscription.etudiant.email ? inscription.etudiant.email
                  : '' : '' : ''}}
              </td>
            </ng-container>

            <!-- Classe column -->
            <ng-container matColumnDef="classe">
              <th mat-header-cell *matHeaderCellDef> Classe </th>
              <td mat-cell *matCellDef="let inscription">
                {{inscription ? inscription.sousClasse ?
                  inscription.sousClasse.libelle ? inscription.sousClasse.libelle
                  : '' : '' : ''}}
              </td>
            </ng-container>

            <!-- Actions column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Présences </th>
              <td mat-cell *matCellDef="let inscription">
                <mat-checkbox (change)="onCheckedPresence($event, inscription)"
                        color="primary" [name]="inscription.id" class="example-margin" >
                      </mat-checkbox>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="inscriptionColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: inscriptionColumnsToDisplay;"
              class="example-element-row">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Listes des absents">
      <div class="row" style="margin-top: 2%;">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <!-- Nom Prenom column -->
            <ng-container matColumnDef="nom_prenom">
              <th mat-header-cell *matHeaderCellDef> Nom & Prénom</th>
              <td mat-cell *matCellDef="let inscription">
                {{inscription ? inscription.etudiant ?
                  inscription.etudiant.nom ? inscription.etudiant.nom
                  : '' : '' : '' }}
                  {{inscription ? inscription.etudiant ?
                    inscription.etudiant.prenom ? inscription.etudiant.prenom
                    : '' : '' : '' }}
              </td>
            </ng-container>

            <!-- telephone column -->
            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef> Telephone</th>
              <td mat-cell *matCellDef="let inscription">
                {{inscription ? inscription.etudiant ?
                  inscription.etudiant.telephone ? inscription.etudiant.telephone
                  : '' : '' : ''}}
              </td>
            </ng-container>

            <!-- email column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let inscription">
                {{inscription ? inscription.etudiant ?
                  inscription.etudiant.email ? inscription.etudiant.email
                  : '' : '' : ''}}
              </td>
            </ng-container>

            <!-- Classe column -->
            <ng-container matColumnDef="classe">
              <th mat-header-cell *matHeaderCellDef> Classe </th>
              <td mat-cell *matCellDef="let inscription">
                {{inscription ? inscription.sousClasse ?
                  inscription.sousClasse.libelle ? inscription.sousClasse.libelle
                  : '' : '' : ''}}
              </td>
            </ng-container>

            <!-- Classe column -->
            <ng-container matColumnDef="absence">
              <th mat-header-cell *matHeaderCellDef> Absences </th>
              <td mat-cell *matCellDef="let inscription">
                <button [routerLink]="'/gestion-school/dossier-absence-etudiant/' + inscription.id"
                type="button" matTooltip="Voir dossier absences"
                mat-flat-button class="action-button">
                <em class="fa fa-list fa-lg"></em>
              </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="presenceColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: presenceColumnsToDisplay;"
              class="example-element-row">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

