<div>
  <ngx-spinner
  [name]="LOADERID"
  [fullScreen]="false"
  type="square-jelly-box"
  size="medium"
></ngx-spinner>
<form #addForm="ngForm" (submit)="save(addForm)">
  <div class="row" style="margin-bottom: 2%">
    <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <div class="form-group row">
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-select required
                  name="niveau"
                  [(ngModel)]="niveauModel"
                  [placeholder]=" niveauModel ?
                    niveauModel.libelle ? niveauModel.libelle : 'Selectionnez le niveau' : 'Selectionnez le niveau'
                  " (selectionChange)="loadListSpecialite(niveauModel.id)"
                >
                  <mat-option *ngFor="let niveau of listNiveau" [value]="niveau">{{
                    niveau?.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-select required
                  name="specialite"
                  [(ngModel)]="specialiteModel"
                  [placeholder]=" specialiteModel ? specialiteModel.specialite ? specialiteModel.specialite.libelle
                  ? specialiteModel.specialite.libelle : 'Selectionnez la specialite' : 'Selectionnez la specialite' : 'Selectionnez la specialite'
                  "
                >
                  <mat-option *ngFor="let specialite of listSpecialite" [value]="specialite">{{
                    specialite?.specialite.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-select required
                  name="horaire"
                  [(ngModel)]="horaireModel"
                  [placeholder]=" horaireModel ?
                  horaireModel.libelle ? horaireModel.libelle : 'Selectionnez l\'horaire' : 'Selectionnez l\'horaire'
                  "
                >
                  <mat-option *ngFor="let horaire of listHoraire" [value]="horaire">{{
                    horaire?.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Libellé : </mat-label>
            <input [(ngModel)]="classeModel.libelle"
            required name="libelle" matInput />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 4%" class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addForm.valid"
            type="submit"
      >
        Enregistrer
        <em class="fa fa-save fa-lg"></em>
      </button>
    </div>
  </div>
</form>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
      <!-- Classe column -->
      <ng-container matColumnDef="classe">
        <th mat-header-cell *matHeaderCellDef> Classe</th>
        <td mat-cell *matCellDef="let classe">
          {{classe ? classe.libelle ? classe.libelle : '' : ''}}
        </td>
      </ng-container>

      <!-- Niveau column -->
      <ng-container matColumnDef="niveau">
        <th mat-header-cell *matHeaderCellDef> Niveau</th>
        <td mat-cell *matCellDef="let classe">
          {{ classe ? (classe.niveau ? classe.niveau.libelle : "") : "" }}
        </td>
      </ng-container>

      <!-- Specialite column -->
      <ng-container matColumnDef="specialite">
        <th mat-header-cell *matHeaderCellDef> Specialite</th>
        <td mat-cell *matCellDef="let classe">
          {{ classe ? (classe.specialite ? classe.specialite.libelle : "") : "" }}
        </td>
      </ng-container>

      <!-- Horaire column -->
      <ng-container matColumnDef="horaire">
        <th mat-header-cell *matHeaderCellDef> Horaire</th>
        <td mat-cell *matCellDef="let classe">
          {{ classe ? (classe.horaire ? classe.horaire.libelle : "") : "" }}
        </td>
      </ng-container>

      <!-- Status column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Statut</th>
        <td mat-cell *matCellDef="let classe">
          <mat-slide-toggle
          (change)="onChangeStatus($event, classe)"
          [ngModel]="classe.etat"
           color="primary">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <!-- Actions column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let classe">
          <div class="row">
            <div
              class="col-md-3 col-lg-3 col-sm-4 col-xs-4 col-md-offset-3 col-lg-offset-3 col-sm-offset-4 col-xs-offset-4"
            >
              <button type="button" (click)="onEdit(classe)" matTooltip="Modifier" mat-flat-button class="action-button"><em class="fa fa-edit fa-lg">
              </em></button>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <button type="button" (click)="openDialog(classe)" matTooltip="Supprimer" mat-flat-button class="action-button"><em class="fa fa-trash fa-lg">
              </em></button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="classeColumnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: classeColumnsToDisplay;"
        class="example-element-row">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
