<div>
  <ngx-spinner
  [name]="LOADERID"
  [fullScreen]="false"
  type="square-jelly-box"
  size="medium"
></ngx-spinner>
<form #addForm="ngForm" (submit)="save(addForm)">
  <div class="row" style="margin-bottom: 2%">
    <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <div class="form-group row">
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-select required
                  name="niveau"
                  [(ngModel)]="niveauModel"
                  [placeholder]=" niveauModel ?
                    niveauModel.libelle ? niveauModel.libelle : 'Selectionnez le niveau' : 'Selectionnez le niveau'
                  " (selectionChange)="loadListSpecialite(niveauModel.id)"
                >
                  <mat-option *ngFor="let niveau of listNiveau" [value]="niveau">{{
                    niveau?.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-select required
                  name="specialite"
                  [(ngModel)]="specialiteModel"
                  [placeholder]=" specialiteModel ?
                    specialiteModel.libelle ? specialiteModel.libelle : 'Selectionnez la specialite' : 'Selectionnez la specialite'
                  "
                >
                  <mat-option *ngFor="let specialite of listSpecialite" [value]="specialite">{{
                    specialite?.specialite.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-select required
                  name="horaire"
                  [(ngModel)]="horaireModel"
                  [placeholder]=" horaireModel ?
                  horaireModel.libelle ? horaireModel.libelle : 'Selectionnez l\'horaire' : 'Selectionnez l\'horaire'
                  "
                >
                  <mat-option *ngFor="let horaire of listHoraire" [value]="horaire">{{
                    horaire?.libelle
                  }}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-label>Libellé : </mat-label>
            <input [(ngModel)]="classeModel.libelle"
            required name="libelle" matInput />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 4%" class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addForm.valid"
            type="submit"
      >
        Enregistrer
        <em class="fa fa-save fa-lg"></em>
      </button>
    </div>
  </div>
</form>

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>N°</th>
        <th>Classe</th>
        <th>Niveau</th>
        <th>Spécialité</th>
        <th>Horaire</th>
        <th>Statut</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classe of listClasse | paginate: { itemsPerPage: 5, currentPage: page };let i=index">
        <td>{{i + 1}}</td>
        <td>{{classe ? classe.libelle ? classe.libelle : '' : ''}}</td>
        <td>
          {{classe ? classe.niveau ? classe.niveau.libelle ? classe.niveau.libelle : '' : '' : ''}}
        </td>
        <td>{{classe ? classe.specialite ? classe.specialite.libelle ? classe.specialite.libelle : '' : '' : ''}}</td>
        <td>{{classe ? classe.horaire ? classe.horaire.libelle ? classe.horaire.libelle : '' : '' : ''}}</td>
        <td>
          <mat-slide-toggle
          [ngModel]="classe.etat"
          color="primary"
        >
        </mat-slide-toggle>
        </td>
        <td>
          <div class="row">
            <div
              class="col-md-3 col-lg-3 col-sm-4 col-xs-4 col-md-offset-3 col-lg-offset-3 col-sm-offset-4 col-xs-offset-4"
            >
              <button type="button"
              (click)="onEdit(classe)" matTooltip="Modifier" mat-mini-fab color="primary">
                <em class="fa fa-edit fa-lg"> </em>
              </button>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <button type="button"
              (click)="openDialog(classe)" matTooltip="Supprimer" mat-mini-fab color="warn">
                <em class="fa fa-trash fa-lg"> </em>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
