<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
      <mat-card>
        <img src="../../../../../assets/images/avatar.png" mat-card-mat-card-sm-image />
      </mat-card>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" style="margin-top: 3%;">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>IDENTIFICATION</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
         <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <strong>Matricule : </strong> sjkdqkdnskqd
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <strong>Nom : </strong> CISSE
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <strong>Prenom : </strong> ABABACAR
          </div>
         </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" style="margin-top: 3%;">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>GENRE / NAISSANCE</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
         <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <strong>Genre : </strong> M
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <strong>Date naissance : </strong> 07/03/2002
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <strong>Lieu naissance : </strong> TAMBACOUNDA
          </div>
         </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" style="margin-top: 3%;">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>CONTACT</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
         <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <strong>Téléphone : </strong> 773383773
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <strong>Email Pro : </strong>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <strong>Email : </strong> abacka@yahoo.fr
          </div>
         </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 3%;">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>IDENTIFICATION</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">

      </div>
    </mat-card-content>
  </mat-card>
</div>
