<mat-card>
  <h3>Paramétrages</h3>
  <ol class="breadcrumb text-right">
    <li>
      <a href="#"><em class="fa fa-home"></em> Accueil</a>
    </li>
    <li class="active">Paramétrages</li>
  </ol>
</mat-card>
<section class="content">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <mat-card>
        <mat-tab-group dynamicHeight>
          <mat-tab label="Paramétrages de base">
            <div class="row">
              <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Année scolaire
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <app-anneescolaire></app-anneescolaire>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Domaines
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <app-domaine></app-domaine>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Cycle
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <app-cycle></app-cycle>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Mentions
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <app-mention></app-mention>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Parcours
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <app-parcours></app-parcours>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Horaire
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <app-horaire></app-horaire>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Document
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <app-document></app-document>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Pays
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <app-pays></app-pays>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Paramétrages spécialité">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
              <mat-accordion>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    Niveau
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>
                    <app-niveau></app-niveau>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Spécialités
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>
                    <app-specialite></app-specialite>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Semestre
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>
                    <app-semestre></app-semestre>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-tab>
          <mat-tab label="Paramétrages modules & UE">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
              <mat-accordion>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    Module
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>
                    <app-module></app-module>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
              <mat-accordion>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    UE
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>
                    <app-ue></app-ue>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-tab>
          <mat-tab label="Paramétrages références">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
              <mat-accordion>
                <mat-expansion-panel expanded>
                  <mat-expansion-panel-header>
                    Référentiel
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>
                    <app-referentiel></app-referentiel>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Programmation Module
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>
                    <app-pays></app-pays>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 1%; margin-bottom: 1%;">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Programmation UE
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>
                    <app-pays></app-pays>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-tab>
          <mat-tab label="Gestion des classes"></mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</section>
