/* You can add global styles to this file, and also import other style files */
@import '~assets/css/_all-skins.css';

body {
  min-height:100%!important;
  height:auto !important;
}

.no-radius {
  border-radius: 0 !important;
}

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.content {
  min-height: 520px !important;
}

.cursor-p {
  cursor: pointer;
}

.box-header .box-tools {
  margin-top: 0 !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Lucida Handwriting";
  src: url("~assets/fonts/lucida-handwriting/qkmarisa.ttf") format("opentype");
}

/* .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } */
.modal-backdrop {
  z-index: -1;
}

.success-snacbar {
  background: rgb(16, 126, 31)!important;
  color: white!important;
}

.info-snacbar {
  background:  rgb(58, 126, 204)!important;
  color: white!important;
}

.warning-snacbar {
  background: rgb(216, 216, 2)!important;
  color: white!important;
}

.error-snacbar {
  background:rgb(167, 45, 45)!important;
  color: white!important;
}

.action-button {
  background-color: transparent;
  color: black;
}

.action-button:hover {
  background-color: white;
  color: gray;
}

.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}
