<app-breadcrumb [title]="title"></app-breadcrumb>

<section class="content">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <mat-card>
        <mat-card-content>
          <div class="row" style="margin-top: 2%;">
            <form #searchForm="ngForm">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="col-md-10 col-lg-3 col-sm-12 col-xs-12">
                  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mat-label>Horaire :</mat-label>
                        <mat-select name="horaire" [(ngModel)]="horaireModel" (selectionChange)="loadListSousClasse()">
                          <mat-option *ngFor="let horaire of listHoraire" [value]="horaire" >{{ horaire?.libelle }}</mat-option >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-10 col-lg-3 col-sm-12 col-xs-12">
                  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-form-field  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mat-label>Classe</mat-label>
                        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.sousClasse.libelle}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <!--<mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mat-label>Classe :</mat-label>
                        <mat-select name="classe" [(ngModel)]="sousClasseModel">
                          <mat-option *ngFor="let sousclasse of listSousClasse" [value]="sousclasse.sousClasse" >{{ sousclasse.sousClasse?.libelle }}</mat-option >
                        </mat-select>
                      </mat-form-field>-->
                    </div>
                  </div>
                </div>

                <div class="col-md-10 col-lg-3 col-sm-12 col-xs-12">
                  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mat-label>Semestre :</mat-label>
                        <mat-select name="semestres" [(ngModel)]="sousClasseModel">
                          <mat-option *ngFor="let sousclasse of listSousClasse" [value]="sousclasse.sousClasse" >{{ sousclasse.sousClasse?.libelle }}</mat-option >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col-md-10 col-lg-3 col-sm-12 col-xs-12">
                  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mat-label>Modules :</mat-label>
                        <mat-select name="modules" [(ngModel)]="sousClasseModel">
                          <mat-option *ngFor="let sousclasse of listSousClasse" [value]="sousclasse.sousClasse" >{{ sousclasse.sousClasse?.libelle }}</mat-option >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col-md-10 col-lg-3 col-sm-12 col-xs-12">
                  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mat-label>Session :</mat-label>
                        <mat-select name="session" [(ngModel)]="sessionModel">
                          <mat-option *ngFor="let session of sessionList" [value]="session" >{{ session?.name }}</mat-option >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col-md-10 col-lg-3 col-sm-12 col-xs-12 text-center">
                  <button mat-raised-button class="action-button" (click)="search()" >
                    Recherche
                    <em class="fa fa-search fa-lg"></em>
                  </button>
                  &nbsp;&nbsp;
                  <button mat-raised-button class="action-button" (click)="cancelSearch(searchForm)" >
                    Annuler
                    <em class="fa fa-remove fa-lg"></em>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="row" style="margin-top: 2%;">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <mat-label>Rechercher : </mat-label>
                <input (keyup)="onSearchByTaping($event)" name="filtre" matInput [(ngModel)]="searchTerm">
              </mat-form-field>
            </div>
          </div>


          <div class="row" style="margin-top: 2%;">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
                <!-- Nom Prenom column -->
                <ng-container matColumnDef="nom_prenom">
                  <th mat-header-cell *matHeaderCellDef> Nom & Prénom</th>
                  <td mat-cell *matCellDef="let inscription">
                    {{inscription ? inscription.etudiant ?
                    inscription.etudiant.nom ? inscription.etudiant.nom
                      : '' : '' : '' }}
                    {{inscription ? inscription.etudiant ?
                    inscription.etudiant.prenom ? inscription.etudiant.prenom
                      : '' : '' : '' }}
                  </td>
                </ng-container>



                <!-- dateNaissance column -->
                <ng-container matColumnDef="datenaissance">
                  <th mat-header-cell *matHeaderCellDef> Date naissance</th>
                  <td mat-cell *matCellDef="let inscription">
                    {{inscription ? inscription.etudiant ?
                    inscription.etudiant.dateNaissance ? getFormatedDate(inscription.etudiant.dateNaissance)
                      : '' : '' : ''}}
                  </td>
                </ng-container>

                <!-- lieuNaissance column -->
                <ng-container matColumnDef="lieunaissance">
                  <th mat-header-cell *matHeaderCellDef> Lieu naissance</th>
                  <td mat-cell *matCellDef="let inscription">
                    {{inscription ? inscription.etudiant ?
                    inscription.etudiant.lieuNaissance ? inscription.etudiant.lieuNaissance
                      : '' : '' : ''}}
                  </td>
                </ng-container>

                <!-- telephone column -->
                <ng-container matColumnDef="telephone">
                  <th mat-header-cell *matHeaderCellDef> Telephone</th>
                  <td mat-cell *matCellDef="let inscription">
                    {{inscription ? inscription.etudiant ?
                    inscription.etudiant.telephone ? inscription.etudiant.telephone
                      : '' : '' : ''}}
                  </td>
                </ng-container>

                <!-- Actions column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let inscription">
                    <button type="button" matTooltip="Voir notes étudiant"
                            mat-flat-button class="action-button">
                      <em class="fa fa-book fa-lg">
                      </em>
                      Notes
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" matTooltip="Voir bulletin étudiant"
                            mat-flat-button class="action-button">
                      <em class="fa fa-book fa-lg">
                      </em>
                      Bulletin
                    </button>
                  </td>
                </ng-container>

                <!-- Devoirs column -->
                <ng-container matColumnDef="devoirs">
                  <th mat-header-cell *matHeaderCellDef> Devoir </th>
                  <td mat-cell *matCellDef="let inscription">
                    <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-label>Note : </mat-label>
                      <input name="notedevoir" matInput/>
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- Exam column -->
                <ng-container matColumnDef="exam">
                  <th mat-header-cell *matHeaderCellDef> Examen </th>
                  <td mat-cell *matCellDef="let inscription">
                    <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <mat-label>Note : </mat-label>
                      <input name="noteexam" matInput/>
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- Session column -->
                <ng-container matColumnDef="session">
                  <th mat-header-cell *matHeaderCellDef> Session </th>
                  <td mat-cell *matCellDef="let inscription">
                    <mat-checkbox name="session" color="primary"
                                  [value]="inscription"
                                  class="example-margin"
                                  (change)="onSelectedSession($event)" >
                      Note session normale
                    </mat-checkbox>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="inscriptionColumnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: inscriptionColumnsToDisplay;"
                    class="example-element-row">
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
