<mat-card>
  <h3>Inscription</h3>
  <ol class="breadcrumb text-right">
    <li>
      <a href="#"><em class="fa fa-home"></em> Accueil</a>
    </li>
    <li class="active">Inscription</li>
  </ol>
</mat-card>
<section class="content">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <mat-card>
        <div style="margin-bottom: 2%;">
          <button type="button" [routerLink]="'/gestion-school/list-etudiant/'" matTooltip="Liste etudiants" mat-raised-button class="action-button"><em class="fa fa-list fa-lg">
          </em> Liste etudiants
        </button>
        </div>
        <mat-tab-group dynamicHeight>
          <mat-tab label="Inscription">
            <app-fiche-renseignement></app-fiche-renseignement>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</section>
